* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.Navbar {
  font-family: sans-serif;
  text-align: center;
  margin-right: auto;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background:#e684036c ;

  
}



.Navbar a {
  padding: 0 1rem;
  color: rgb(17, 97, 195);
  text-decoration: none;
  font-size: xx-large;
  font-weight: bold;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

.Navbar a.active {
  color: rgb(51, 102, 13);
  font-size: xx-large;
  font-weight: bold;

}
.card {
  max-width: 300px;
  margin-top: 5rem; 
  text-align: center;
  font-family: arial;
  width: 85%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 30px;
  grid-gap: 20px;
  

}
.img{
  width: 300px;
  border-radius: 27px;
}
.ulhome {
  list-style: none;
  
}

.lihome {
  display: inline-block;
   margin-right: 100px; /* add spacing between items */
}
.btn{
  background-color: initial;
  background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
  transition: box-shadow .2s;
}
.btn:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}







body{
  background-color: rgb(253, 253, 253);
}

.recipeImage{
  height:400px;
  width: 400px;
  margin-left: 550px;
}
.center{
  text-align: center;
}



.input{
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  background: #ad9406;
  border-radius: 4px;
  padding: 4px;
}
.input:focus{
  background: #FF7E31;
  
}
.addBtn{
  height: 30px;
  margin-left: 700px;
  margin-top: 5px;
  width:80px;
  background: #E62C03;
}
#i{
  height: 300px;
  width: 700px;
  margin-left: 400px;
}



.InputContainer {
  width: 210px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom,rgb(227, 213, 255),rgb(255, 231, 231));
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
  margin-left: 600px;
}

.InputContainer input {
  width: 200px;
  height: 40px;
  border: none;
  outline: none;
  caret-color: rgb(255, 81, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  padding-left: 15px;
  letter-spacing: 0.8px;
  color: rgb(19, 19, 19);
  font-size: 13.4px;
}