* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fbeec1;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.logo {
  width: 150px;
  height: 150px;
}

#container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 5vh;
}
.card {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1em;
  background-color: #daad86;
  border: 1px solid #bacdd8;
  padding: 10px;
  border-radius: 12px;
  max-width: 400px;
  min-height: 300px;
  margin-top: 5vh;
}
.tag {
  padding: 4px 8px;
  border: 1px solid #e5eaed;
  border-radius: 50px;
  font-size: 17px;
  font-weight: 600;
  color: #788697;
}
.img {
  width: 100%;
  border-radius: 18px;
  height: 214px;
  object-fit: cover;
}
.btnhome {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-box {
  display: flex;
  margin: auto;
  background: #fff;
  border-radius: 18px;
  overflow: hidden;
  border: 2px solid black;
  width: 30%;
}
.search-box .form-control {
  width: 100%;
  border: 0;
  height: 36px;
  padding: 0 10px;
  outline: 0;
  background: #d1cbcb;
}

::placeholder {
  color: #abb2bf;
}

.btn {
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 7vh;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #e7e5d6;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(168, 163, 163, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.btn:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.btn:active {
  transform: translateY(-1px);
}

/* Recipe page css*/

.recipediv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.recipeImage {
  display: flex;
  width: 30%;
  height: 40%;
  border-radius: 17px;
  border: 3px solid #659dbd;
}
.divnamdetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30%;
  width: 60%;
}
.par {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
  margin-top: 5vh;
}
.btnrecipe {
  padding-top: 90px;
}
.btnsr {
  margin-right: 53px;

}

/* add recipe*/
.h1add {
  display: flex;
  justify-content: center;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 100px;
}
.container:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(https://media.istockphoto.com/id/603906484/es/foto/ensalada-de-vegetales.jpg?s=2048x2048&w=is&k=20&c=omavwe1hPhnU9wOMO-m-32yxzr7MlafppKI8nheknx8=)
    no-repeat center;
  background-size: cover;
  z-index: -1;
  filter: blur(50px);
}
.cont-box {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 23%;
}
.input {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #aebab7;
  font-size: 1.1rem;
  margin-bottom: 10px;
  transition: 0.3s;
}
.btnadd {
  margin-right: 19%;
}
.editbtn {
  display: flex;
  justify-content: center;
}
